.card {
    background-color: $softViolet;
    display: flex;
    margin: 5rem;
    flex-direction: column-reverse;
    border-radius: 0.5rem;
    
    @include breakpoint(desktop) {
        display: inline-flex;
        flex-direction: row;
    }
    
    &_contents {
        background-color: $darkDesaturatedBlue;
        padding: 2.8175rem 2.1875rem 2.1875rem 1.125rem;
        border-radius: 0 0 0.5rem 0.5rem;

        @include breakpoint(desktop) {
            padding: 4.5rem 6.875rem 3.75rem 4rem;
            border-radius: 0.5rem 0 0 0.5rem;
        }
    }

    &_image {
        background-image: url('/images/image-header-mobile.jpg');
        mix-blend-mode: multiply;
        background-size: cover;
        height: 15em;
        
        @include breakpoint(desktop) {
            background: url('/images/image-header-desktop.jpg');
            background-repeat: no-repeat;
            height: auto;
            width: 100%;
        }
    }
}

.highlight {
    color: $softViolet;
}